@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: black;
}

/* Slider */
.imgslider{
    margin-top: 110px;
    margin-left: -10px;
}

.container1 {
    width: 1200px;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: -80px;
}

.slider1 {
    width: 1200px;
    padding: 10px;
    
    display: flex;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 10px;
    margin-left: -40px;
    margin-top: -90px;

    
}

.images1 {
    display: flex;
    position: relative;
    border-radius: 10px;
    transition: all 0.5s;
    
}

.images1 img{
    width: 100%;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
}

.buttons1 {
    position: absolute;
    display: flex;
    top: 70%;
    margin-top: 90px;
    
}



.buttons1 input {
    margin: 2px;
    cursor: pointer;
    
    
}

/*Navbar */


.navbar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
}

.heading{
    color: white;
    margin-left: 125px;
    margin-top: 37px;
    font-size: 3rem ;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
    margin-left: 20px;
}

.right ul li a:hover {
    background-color: red;
    border-radius: 7px;
    color: white;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /* belownav section */

  #mainhead{
    font-size: 2.5rem;
    cursor: pointer;
    margin-left: -150px;
}
.heading-container{
    display: flex; 
    gap: 10px;
    margin-left: 600px;
    margin-top: 50px;
    font-size: 2rem;
    
}


.moto2{
    color: red;
    
}
.moto1{
    color: white;
}

.mainpagecontent{
    font-size: 30px;
    margin-top: 70px;
    margin-left: 536px;
}

  @media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: rgb(22, 7, 36);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left: 100%;
        transition: all 1s;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }

}